<section class="" id="applications">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <img src="{{ page.applications.img | relative_url}}" class="img-responsive" alt="">
            </div>
            <div class="col-lg-6 text-right">
                <h2 class="section-heading applicationtitle">{{page.applications.title}}</h2>
                <br>
                <p class="text-faded applicationsubtitle">{{page.applications.subtitle}}</p>
            </div
>        </div>
    </div>
</section>
<section id="applications-item1">
    <div class="container-fluid mw-100">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading colorwhite itemtitle">{{page.applications.item1title}}</h2>
                <br>
                <p class="text-faded">{{page.applications.item1text}}</p>
                <!--<a href="#" class="float-right colorwhite itemicon">+</a>-->
                <p class="float-right colorwhite itemicon">+</p>
            </div>
        </div>
    </div>
</section>
<section id="applications-item2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading colorwhite itemtitle">{{page.applications.item2title}}</h2>
                <br>
                <p class="text-faded">{{page.applications.item2text}}</p>
                <!--<a href="#" class="float-right colorwhite itemicon">+</a>-->
                <p class="float-right colorwhite itemicon">+</p>
            </div>
        </div>
    </div>
</section>
<section id="applications-item3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading colorwhite itemtitle">{{page.applications.item3title}}</h2>
                <br>
                <p class="text-faded">{{page.applications.item3text}}</p>
                <!--<a href="#" class="float-right colorwhite itemicon">+</a>-->
                <p class="float-right colorwhite itemicon">+</p>
            </div>
        </div>
    </div>
</section>
<section id="applications-item4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading colorwhite itemtitle">{{page.applications.item4title}}</h2>
                <br>
                <p class="text-faded">{{page.applications.item4text}}</p>
                <!--<a href="#" class="float-right colorwhite itemicon">+</a>-->
                <p class="float-right colorwhite itemicon">+</p>
            </div>
        </div>
    </div>
</section>
<section id="applications-item5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading colorwhite itemtitle">{{page.applications.item5title}}</h2>
                <br>
                <p class="text-faded">{{page.applications.item5text}}</p>
                <!--<a href="#" class="float-right colorwhite itemicon">+</a>-->
                <p class="float-right colorwhite itemicon">+</p>
            </div>
        </div>
    </div>
</section>
