<section class="" id="subscribe" >
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-left">
                <h2 class="section-heading colorwhite">{{page.cta.title}}</h2>
                <br>
                <p class="text-faded colorwhite">{{page.cta.text}}</p>
            </div>

            <div class="col-lg-6 text-center">

                <button onclick="showMailingPopUp(); return false;" id="open-popup" style="cursor:pointer" class="btn btn-default btn-xl">{{page.cta.button}}</button>


                <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>

                <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
                <script>
                function showMailingPopUp() {
                  require(
                    ["mojo/signup-forms/Loader"],
                    function(L) {
                      L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"703cd11616d78536ae5d303eb","lid":"c71df7883e"})
                    }
                  );

                  document.cookie = 'MCPopupClosed=;path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC;';
                  document.cookie = 'MCPopupSubscribed=;path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC;';
                }

                document.getElementById("open-popup").onclick = function() {showMailingPopUp()};
                </script>
            </div>
        </div>
    </div>
</section>
