<!--<div class="gallery-wrap">
  <div class="gallery-window">
    <div id="gallery-carousel">

      {% for gallery in site.data.venue[page.lang].gallery %}
      <span class="gallery-slide" id="b{{forloop.index}}" style="background:#2B64E2;background-image: url({{ gallery.img | relative_url }});background-repeat: no-repeat;-webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover; background-position: center;"></span>
      {% endfor %}

    </div>
  </div>
  <span id="prev">PREV</span>
  <span id="next">NEXT</span>
</div>

<script src="{{'assets/js/gallery.js' | relative_url}}" async></script>
-->