<div class="container-fluid header pad0 backblue">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for gallery in page.gallery %} {% if forloop.index == 1 %} {% assign is_active = " active" %} {% else %} {% assign is_active = "" %} {% endif %}
            <li data-target="#myCarousel" data-slide-to="{{ forloop.index | minus: 1}}" class="{{ is_active }}"></li>
            {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for gallery in page.gallery %} {% if forloop.index == 1 %} {% assign is_active = " active" %} {% else %} {% assign is_active = "" %} {% endif %}
            <div class="item{{ is_active }}">
                <img src="{{ gallery.img | relative_url }}" alt="{{ gallery.title }}">
            </div>
            {% endfor %}

        </div>

        <div id="headertitle" class="row pad10 pad50bot">
            <div class="container-fluid">
                <img src="{{ 'assets/img/Logo.png' | relative_url }}" class="img-responsive" alt="FAB 16 Logo">
            </div>

            <div>
                <h2 class="col-lg-8 col-md-8 col-sm-12 headertitle colorwhite"><span class="backgreen">{{page.text.herodate}}</span></h2>
            </div>
            <div>
                <h1 class="col-lg-8 col-md-8 col-sm-12 headertitle colorwhite">{{page.text.title}}</h1>
            </div>
            <div>
                <h2 class="col-lg-4 col-md-4 col-sm-12 headersubtitle colorwhite text-right">{{page.text.subtitle}}</h2>
            </div>
        </div>
    </div>
</div>

<section id="register">
    <div class="header-content">
        <div class="container">
            <div class="row about-text">
                <div class="col">
                    <h2 class="col-lg-12 col-md-12 col-sm-12 text-center colorgreen">{{page.text.date}}</h2>
                </div>
            </div>

            <div class="row registerlinkrow">
                <div class="col text-center">

                    <a href="{{ site.baseurl }}{{ page.text.registerlink }}" class="btn btn-primary btn-xl registerlink disabled">{{page.text.registerbutton}}</a>

                </div>
            </div>
        </div>
    </div>
</section>