<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>FAB16 Montreal</h1>
            <hr>
            <p> Each year members of more than 1,700 worldwide Fab Labs gather to share, discuss, collaborate and create communities around the different local and global interests regarding digital manufacturing, innovation and technology.
        This international event gathers both field practitioners and laboratory researchers for a week of panels, talks, hands-on workshops on the principles and applications of digital fabrication.</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
