<!-- jQuery -->
<script src="{{ 'static/js/jquery.js' | relative_url }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ 'static/js/bootstrap.min.js' | relative_url}}"></script>

<!-- Plugin JavaScript -->
<script src="{{ 'static/js/jquery.easing.min.js' | relative_url}}"></script>
<script src="{{ 'static/js/jquery.fittext.js' | relative_url}}"></script>
<script src="{{'static/js/wow.min.js' | relative_url }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{'static/js/creative.js' | relative_url}}"></script>
