<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center servicestitle">
                <h2 class="section-heading">{{page.text.servicesheading}}</h2>
                <br>
                {{page.text.servicesparagraph}}
            </div>
        </div>
    </div>
    <div class="container servicestext">

        {% assign rows = page.services.size | divided_by: 4.0 | ceil %}
        {% for i in (1..rows) %}
          {% assign offset = forloop.index0 | times: 4 %}
          <div class="row">
            {% for service in page.services limit:4 offset:offset %}
              <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <img src="{{ service.img | relative_url}}" alt="{{service.title}}" />
                        <h3>{{service.title}}</h3>
                        <p class="text-muted">{{service.description}}</p>
                        <!--<a href="#">+ more</a>-->
                    </div>
                </div>
            {% endfor %}
          </div>
        {% endfor %}

    </div>
</section>
