
<section class="no-padding" id="speakers">
    <div class="container-fluid">
        <div class="row">
            <h1 class="mw-100 col-lg-12 col-md-12 col-sm-12 colorwhite speakerstitle">{{page.speakerstitle}}</h1>
        </div>
        <div class="row no-gutter speakersgrid">
                {% for p in page.speakers %}
                <div class="col-lg-4 col-sm-6 speaker">
                    <a href="#" class="portfolio-box">
                        <img src="{{ p.img | relative_url }}" class="img-responsive center-block rounded-circle" alt="{{p.label}}">
                    </a>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-center colorwhite">
                                {{p.label}}
                            </div>
                            <div class="project-name text-center colorwhite">
                                {{p.title}}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
</section>
