
{% if page.title == "Home" %}
<section id="speakers" class="backgreen">
    <div class="container-fluid">
        <div class="row pad50bot">
            <!--<h2 class="mw-100 col-lg-12 col-md-12 col-sm-12 colorwhite speakerstitle title">{{ site.data.speakers[page.lang].title}}</h2>-->
            <h3 class="mw-100 col-lg-12 col-md-12 col-sm-12 colorwhite speakerstitle title text-center">{{ site.data.speakers[page.lang].subtitle}}</h3>
        </div>

{% else %}
<section id="speakers" class="backgreen" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h2 class="section-heading colorwhite speakerstitle title">{{ site.data.speakers[page.lang].title}}</h2>
                <br>
                <h3 class="text-faded colorwhite speakerssubtitle subtitle">{{ site.data.speakers[page.lang].subtitle}}</h3>
            </div>
            <div class="col-lg-6 col-md-6 text-right hidden">
                <img src="{{ site.data.speakers[page.lang].img | relative_url}}" class="img-responsive" alt="{{ site.data.speakers[page.lang].subtitle}}">
            </div
>        </div>
    </div>
</section>
<section class="no-padding" id="speakersgrid">
    <div class="container-fluid">
{% endif %}
        {% comment %}
        <div class="row no-gutter resp-grid speakersgrid marg50top">

            
            {% for speaker in site.data.speakers[page.lang].speaker %}
                <div class="col-lg-4 col-sm-6 speaker text-center resp-grid-item pad50bot">
                    <a href="#" class="portfolio-box" data-toggle="modal" data-target="#myModal{{ forloop.index }}">
                        <img src="{{ speaker.img | relative_url }}" class="img-responsive center-block rounded-circle" alt="{{speaker.label}}">
                    </a>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-center colorwhite">
                                {{speaker.label}}
                            </div>
                            <div class="project-name text-center colorwhite">
                                {{speaker.title}}
                            </div>
                        </div>
                    </div>
                </div>

                <div id="myModal{{ forloop.index }}" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                    <div class="modal-content details-popup speaker">
                        <div class="col-lg-12 portfolio-box text-center">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-header"></div>

                        <div class="modal-body">
                            <div class="col-lg-12">
                                <h3 class="text-center2">{{speaker.label}}</h3>
                                <h4 class="text-center2">{{speaker.title}}</h4>
                                <p>{{speaker.desc}}</p>
                            </div>
                        </div>

                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>

            {% endfor %}
            

        </div>
        {% endcomment %}

        <div class="row no-gutter text-center pad10 ">
            <p class="text-faded colorwhite">
                {{ site.data.speakers[page.lang].comingsoontext}}
            </p>
        </div>
        
        <div class="row no-gutter comingsoon text-center pad10 backwhite">
            {{ site.data.speakers[page.lang].comingsoon}}
        </div>
        
    </div>
</section>
