
<div class="container tickets marg100bot {{ color_class }}">
  <div class="row flex-items-xs-middle flex-items-xs-center">

    <h2 class="title {{ color_class }}">{{ site.data.tickets[page.lang].titletotal }}</h2>
    <p>{{ site.data.tickets[page.lang].subtitletotal }}</p>

    <div class="container">
      <div class="row flex-items-xs-middle flex-items-xs-center resp-grid">

        {% for ticket in site.data.tickets[page.lang].ticket %}
        <div class="col-xs-12 col-md-4 resp-grid-item">
          <div class="card backwhite text-left marg10bot" style="background-image: url({{ ticket.img | relative_url }});">
            <div class="card-header">
              <h3 class="display-2 colorwhite">

                {{ ticket.price }}
                <span class="currency colorwhite">
                  {{ site.data.tickets[page.lang].currency }}{{ site.data.tickets[page.lang].currency2 }}
                </span>

              </h3>
              <p class="list-group-item first colorwhite pad0 text-left">{{ ticket.item1 }}</p>
              <p class="list-group-item colorwhite pad0 text-left">{{  ticket.item2 }}</p>
              <p class="list-group-item colorwhite pad0 text-left">{{  ticket.item3 }}</p>
            </div>
            {% if ticket.sale != "" %}
              <div class="ticket-sales">
                <p>{{ ticket.salecaption }}</p>
                <h3 class="display-2 colorwhite"><span class="currency">{{ site.data.tickets[page.lang].currency }}</span>{{ ticket.sale }}<span class="period colorwhite">{{ site.data.tickets[page.lang].currency2 }}</span></h3>
              </div>
            {% endif %}

            <div class="card-block">
              <h4 class="card-title colorwhite text-right">
                {% if ticket.pass_fr != "" %}
                  <strong>{{  ticket.pass_fr }}</strong>
                  <br>
                {% endif %}

                {{  ticket.title }}

                {% if ticket.pass != "" %}
                  <br>
                  <strong>{{  ticket.pass }}</strong>
                {% endif %}
              </h4>

              <a href="#" class="btn btn-primary btn-ticket mt-2 bottom-align-text" data-toggle="modal" data-target="#myModal{{ forloop.index }}">
                {{  ticket.buttontext }}
              </a>
            </div>
          </div>
        </div>

        <div id="myModal{{ forloop.index }}" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <div class="modal-content details-popup">
              
                <button type="button" class="close" data-dismiss="modal">&times;</button>

              <div class="embed-responsive embed-responsive-16by9">
                <iframe  src="{{ ticket.weezeventiframe }}" class="embed-responsive-item" allowfullscreen="allowfullscreen" allow="autoplay"  ></iframe>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <p>{{ site.data.tickets[page.lang].subtitletotal2 }}</p>
    </div>
  </div>
</div>




