<section id="venue">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">

                <div class="embed-responsive embed-responsive-16by9" >
                    <iframe title="Fab16 invitation Youtube video" class="embed-responsive-item" src="https://www.youtube.com/embed/lm-OWhJKv4U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                &nbsp;
                <p class="traveltext {{ page.color_class }}">{{ site.data.venue[page.lang].text}}</p>
            </div>
            <div class="col-lg-6 text-right">

                <div class="embed-responsive embed-responsive-16by9" >
                    <iframe title="Fab16 map" class="embed-responsive-item" src="https://www.google.com/maps/d/u/0/embed?mid=1rzRB0ioz50-iR3p7B38EMrpH06gZNilf&amp;ie=UTF8&amp;t=&amp;z=12&amp;iwloc=B&amp;output=embed" width="845" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>

            </div>
        </div>
        <br>
        <br>
        <br>

        {% comment %}
        <div class="row no-gutter comingsoon text-center pad10 backwhite">
            {{ site.data.venue[page.lang].comingsoon}}
        </div>
        {% endcomment %}

    </div>

</section>
