.header {
  .carousel{
    height: 100vh;
    max-height: 100vh;
    .carousel-inner img {
      min-height: 100vh;
      max-height: 100vh;
      width: 100%;
      object-fit: cover;
    }
    #headertitle {
      position: absolute;
      width: 100%;
      bottom: 10px;
      float: left;
      text-align: left;
      //padding-left: 3vw;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      img {
        width: 15vh;
        max-width: 400px;
        float: right;
        margin-top: -5vh;
      }
    }
  }
}

section#headertitle {
  .header-content .container {
    width:100%;
  }
}
