$menu-breakpoint: 1162px;

.notification-top-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 55px;
  line-height: 34px;
  width: 100%;
  text-align: center;
}
.notification-top-bar p {
   margin-top: 6px;
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
    max-height: none;
}

.navbar-default {
    @include bold-font;
    @include transition(all, 0.35s, ease);
    .navbar-toggle {
        border: none;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        .animated-icon2 {
            width: 50px;
            height: 20px;
            position: relative;
            margin: 0px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            @include transition(all, .3s, ease-in-out);
            cursor: pointer;
            span {
                display: block;
                position: absolute;
                width: 100%;
                opacity: 1;
                left: 0;
                @include transform (rotate(0deg));
                @include transition(all, .15s, ease-in-out);
            }
        }
        .icon-bar {
            background-color: $theme-greybg;
            display: block;
            height: 7px;
            @include border-radius(1px);
        }
        .icon-bar+.icon-bar {
            margin-top: 0px;
        }
        .icon-bar:nth-child(2) {
            top: 0px;
        }
        .icon-bar:nth-child(3) {
            top: 14px;
        }
        .icon-bar:nth-child(4) {
            top: 28px;
        }
    }
    .navbar-toggle:hover,
    .navbar-toggle:focus {
        background-color: transparent;
        .icon-bar {
            background-color: white;
        }
    }
    .navbar-toggle:not(.collapsed) {
        .icon-bar:nth-child(2) {
            top: 11px;
            @include transform (rotate(135deg));
        }
        .icon-bar:nth-child(3) {
            opacity: 0;
            left: 60px;
            @include transition(all, .05s, ease-in-out);
        }
        .icon-bar:nth-child(4) {
            top: 11px;
            @include transform (rotate(-135deg));
        }
    }
    .navbar-header .navbar-brand {
        @include bold-font;
        height: 50px;
        font-size: 44px;
        padding: 17px 15px;
        font-weight: 700;
        &:hover,
        &:focus {
            color: white;
        }
    }
    .nav {
        >li {
            >a,
            >a:focus {
                height: 70px;
                font-weight: 700;
                font-size: 34px;
                text-align: center;
                color: $theme-greybg;
                &:hover {
                    color: white;
                }
            }
            &.active {
                >a,
                >a:focus {
                    color: $theme-primary !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    .nav>li>a,
    .nav>li>a:focus {
        margin: 0 0.5vw;
        border: 2px solid $theme-green;
        padding: 10px !important;
        margin-top: 5px !important;
        height: auto !important;
    }
    // Menu in DESKTOP MODE
    @media (min-width: $menu-breakpoint) {
        border-color: rgba(white, 0.15);
        .navbar-header .navbar-brand {
            color: rgba(white, 0.9);
            &:hover,
            &:focus {
                color: white;
            }
        }
        .nav>li>a,
        .nav>li>a:focus {
            font-size: 16px;
            margin: 0 0.34vw;
            padding: 2vh 1vw;
            color: rgba(white, 1);
            &:hover {
                color: white;
            }
        }
        &.affix {
            background-color: $theme-green;
        }
    }
    // Menu in MOBILE MODE
    @media (max-width: $menu-breakpoint) {
        .navbar-header {
            float: none;
        }
        .navbar-left,
        .navbar-right {
            float: none !important;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        }
        .navbar-fixed-top {
            top: 0;
            border-width: 0 0 1px;
        }
        .navbar-collapse.collapse {
            display: none !important;
        }
        .navbar-nav {
            float: none !important;
            margin-top: 7.5px;
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .collapse.in {
            display: block !important;
        }
        .registerbutton {
            margin-top: 0px !important;
            padding: 20px !important;
        }
    }
}

.registerbutton {
    border: 2px solid $theme-primary !important;
    padding: 10px !important;
    margin-top: 14px !important;
    height: auto !important;
    background-color: $theme-primary !important;
}

.registerbutton:not(.disabled):hover {
    background-color: white !important;
    color: $theme-primary !important;
    border: 2px solid white !important;
}

.registerbutton.hidden, .hidden {
    display:none!important;
}