.sponsors {
  .portfolio-box:not(.hub) {
    max-height: 100px;
    img {
      max-width: 85%;
      max-height: 100px;
      margin: auto;
    }
  }
  .portfolio-box.hub {
    img {
      max-width: 85%;
      max-height: 100px;
      margin: auto;
    }
  }
}

section#footer, section#donate {
  position: relative;
  //height: 100%;
  img.fab16logo {
    float:right;
    width: 150px;
  }
}
.community.resp-grid-item:last-child {
  //min-width: 400px;
}