.card {
  border: 0;
  @include border-radius(0px);
  -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  @include transition(all, 0.3s, ease-in-out);
  padding: 0px 0;
  position: relative;
  will-change: transform;
  height: 100%;
  background-position: center;
  background-size: cover;
}
@media (max-width: 992px) {
  margin-bottom: 25px;
}
.card:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: $theme-blue;
  @include transition(all, 0.5s, ease);
}
.card:hover {
  -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
}
.card:hover:after {
  width: 100%;
}
.card .card-header {
  border-bottom: 0px;
}
.card .card-title {
  margin: 65px 0px;
  //text-align: right;
}
.card .card-block {
  padding: 0px 25px 0px 0px;
  a {
    position: absolute;
    bottom: 0px;
    right: 25px;
  }
}
.card .list-group-item {
  border: 0px;
  padding: 0px 0px 0px 30px;;
  //color: $theme-greydisabled;
  //text-align: left;
  background-color:transparent;
  min-height:24px;
}
.card .list-group-item.first {
  min-height:28px;
}

.ticket-sales {
  background-color: $theme-green;
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  margin-top: -110px;
  color: white;
}
.display-2 {
  padding-left:30px;
  .currency {
    position: relative;
    font-weight: 400;
    top: -45px;
    letter-spacing: 0px;
  }
  .period {
    color: $theme-greydisabled;
    letter-spacing: 0px;
  }
}

.btn {
  cursor:pointer;
  text-transform: uppercase;
  @include border-radius(0px);
  padding: .75rem 1.25rem;
  letter-spacing: 1px;
}

.btn-gradient {
  @include transition(background, 0.3s, ease-in-out);
}
.btn-gradient:hover {
  color: white;
  background-color: $theme-green;
}