.tracks-box-img {
  @media (min-width: 992px) {
    margin: 25px auto 0;
  }
 
  p {
    margin-bottom: 0;
    //color:$theme-green;
  }
  a {
    //color:$theme-green;
  }
}

section#tracks {
  //padding-bottom: 0vh;
}
.trackstitle {
  //color:$theme-primary;
  margin-top:0px;
}
.tracks {
  width: 100%;
  //background-color: $theme-greybg;
  //margin-top: 30px;
  //margin-bottom: 0px;
  //padding-bottom: 50px;
  .container {
    //padding-top: 50px;
  }
}
.tracks-box {
  max-width: 80%;
  margin: auto;
}


.tracks-box-img {
  position: relative;
  width: 100%;
  max-width: 150px;
  margin: auto;
}
.tracks-img {
  display: block;
  width: 100%;
  height: auto;
}
.hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .1s ease;
  @include transform(scale(1.02));
}
.tracks-box-img:hover .hover {
  opacity: 1;
}