section#travel {
  //padding-bottom:50px;
  .container-fluid .row ul {
    list-style-type: none;
  }
  img.home {
    max-width: 600px;
  }

}
.traveltitle {
  //color: $theme-green;
  //text-transform: uppercase;
}
.traveltext {
  //color: $theme-green;
}
.travelmenu, .travelmenu-coming {
  @include bold-font;
  font-weight:900;
}

.travelmenu, .travelmenu:hover {
  //color: $theme-green;
}
.travelmenu-coming, .travelmenu-coming:hover {
  //color: $theme-greydisabled;
}

section#travelfooter {
  margin-top: 0px;
  display: block;
  position: relative;
  width: 100%;
  background-color: white;
}