.gallery-wrap {
  position: relative;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.25);
}

.gallery-window {
  overflow: hidden;
  position: relative;
  background: $theme-dark;
}

#gallery-carousel {
  width: 10000px;
  position: relative;
  top: 0;
  left: -450px;
}

.gallery-slide {
  height: 600px;
  width: 800px;
  cursor: pointer;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $theme-blue;
}

#prev, #next {
  cursor: pointer;
  position: absolute;
  bottom: -40px;
  font-size: 14pt;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

.transition {
  @include transition(all, 0.7s, ease);
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}